/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-card img {
    max-width: 100px; /* Définit la largeur maximale */
    max-height: 100px; /* Définit la hauteur maximale */
    object-fit: contain; /* Assure que l'image reste dans les proportions correctes */
    margin: auto; /* Centre l'image dans la carte */
    display: block;
  }